{% extends 'main_page/index.html'%}
{% block content %}
{% load static %}
<div class="about-tab">
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title class="about-tab h1">О нас</title>
</head>
<body>
  <header>
    <!-- навигационное меню сайта -->
  </header>
  <main>
    <p><img class="img-article-left" src="{% static 'main_page/images/im.jpg' %}"></p>
    <h1 class="text-style">О нас</h1>
    <p class="text-style">Мы занимаемся выращиванием и реализацией растений уже на протяжении 12 лет,все началось с того
      ,что мы на своем участке решили посадить несколько хвойников. После этого наше увлечение перешло на иной уровень.
      Мы начали более глубже изучать данное направление и с каждым годом изучая и применяя на практике полученные
      знания стали добиваться результата. У нас Вы сможете найти большое количество всевозможных хвойных и лиственных
      пород растений: ель, сосна, можжевельник, туя, штамбовые растения,цветы , кустарники. Наша главная цель добиться
      того ,чтобы растения на Вашем участке доставляли Вам радость и удовольствие .</p>
    <p>Мы компания, занимающаяся производством и продажей качественных товаров.</p>
    <h2 class="text-style">Наши ценности</h2>
    <ul>
      <p class="text-style">Качество - Все наши растения приживаются с гарантией 99.9%</p>
      <p class="text-style">Надежность - Мы ценим доверие наших клиентов и всегда выполняем свои обязательства.</p>
      <p class="text-style">Клиентоориентированность - мы всегда стараемся удовлетворить потребности и ожидания наших клиентов.</p>
      <p class="text-style">Скидки и отличные цены - скидки постоянным покупателям и самые выгодные цены в Витебской области</p>
    </ul>
  </main>
  <footer>
    <!-- копирайт и ссылки на социальные сети -->
  </footer>
</body>
</html>
</div>
{% endblock content%}