{% extends 'main_page/index.html'%}
{% block content %}
<div class="about-tab">
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title class="about-tab h1">О нас</title>
</head>
<body>
  <header>
    <!-- навигационное меню сайта -->
  </header>
  <main>
    <h1>О нас</h1>
    <p>Мы компания, занимающаяся производством и продажей качественных товаров.</p>
    <h2>Наша миссия</h2>
    <p>Наша миссия - предоставлять нашим клиентам лучшие товары и услуги, которые превзойдут их ожидания.</p>
    <h2>Наши ценности</h2>
    <ul>
      <li>Качество - мы стремимся предоставлять только самые качественные товары и услуги.</li>
      <li>Надежность - мы ценим доверие наших клиентов и всегда стараемся выполнять свои обязательства.</li>
      <li>Инновации - мы постоянно ищем новые способы улучшения наших товаров и услуг.</li>
      <li>Клиентоориентированность - мы всегда стараемся удовлетворить потребности и ожидания наших клиентов.</li>
    </ul>
  </main>
  <footer>
    <!-- копирайт и ссылки на социальные сети -->
  </footer>
</body>
</html>
</div>
{% endblock content%}