{% extends 'main_page/base.html'%}
{% block content %}
<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Контакты</title>
</head>
<body>
  <header>
    <!-- навигационное меню сайта -->
  </header>
  <main>
    <h1 class="text-style">Контакты</h1>
    <div class="contact-info">
      <p class="text-style"><strong>Адрес: </strong>Сокольники, ул. Весенняя 1а, Витебск, Беларусь</p>
      <p class="text-style"><strong>Телефон:(А1)</strong> +375 29 140-43-84</p>
      <p class="text-style"><strong>Телефон:(МТС Viber, Whatsapp)</strong> +375 29 804-16-34</p>
      <p class="text-style"><strong>Телефон:(А1, Viber)</strong> +375 29 156-59-93</p>
    </div>
  </main>
  <footer>
    <!-- копирайт и ссылки на социальные сети -->
  </footer>
</body>
</html>
{% endblock %}