{% extends 'main_page/base.html'%}
{% load static %}

{% block content %}
<style>
.grid-container {
  display: grid;
  column-gap: 50px;
  row-gap: 70px;
  grid-template-columns: auto auto;
  padding: 10px;
}

.grid-item {
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 30px;
  font-size: 30px;
  text-align: center;
}
</style>

<div class="grid-container">
    {% for plant in tui %}
        <div class="grid-item">
            <img class="img-article-left" src="{{plant.image.url}}">
            <h2 class="text-style">{{plant.title}}</h2>
            <p class="text-style">{{plant.content|truncatewords:30}}</p>
            <div class="clear"></div>
            <p class="link-read-post"><a class="text-style" href="{{ plant.get_absolute_url }}">Подробнее</a></p>
        </div>

    {% endfor %}

</div>
  {% if page_obj.has_other_pages %}
    <nav class="pagination a">
        {% if page_obj.has_previous %}
        <li class="pagination a">
            <a href="?page={{ page_obj.previous_page_number }}">&lt;</a>
        </li>
        {% endif %}
        {% for p in paginator.page_range %}
        {% if page_obj.number == p %}
            <li class="pagination active ">{{p}}</li>
        {% elif p >= page_obj.number|add:-2 and p <= page_obj.number|add:2%}
        <li class="pagination a">
            <a href="?page={{p}}">{{p}}</a>
        </li>
        {% endif %}
        {% endfor %}
        {% if page_obj.has_next %}
        <li class="pagination a">
            <a href="?page={{ page_obj.next_page_number }}">&gt;</a>
        </li>
        {% endif %}
    </nav>
  {% endif %}

{% endblock content %}