{% extends 'main_page/base.html'%}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Где мы находимся</title>
</head>
<body>
  <header>
    <!-- навигационное меню сайта -->
  </header>
  <main>
    <h1 class="text-style">Где мы находимся</h1>
    <div id="map-container">
      <!-- Карта с отметкой нашего местоположения -->
    </div>
    <address>
      <p class="text-style">Сокольники, ул. Весенняя 1а, Витебск, Беларусь</p>
      <p class="text-style">Телефон: +375 29 140-43-84</p>
      <p class="text-style" >+375 29 156-59-90</p>
      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d9884888.15118747!2d14.781338949372635!3d52.7808483196771!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x46c571187652ff45%3A0x97be5a94ae849257!2z0KHQsNC00L7QstGL0Lkg0YbQtdC90YLRgCDQtNC10LrQvtGA0LDRgtC40LLQvdGL0YUg0YDQsNGB0YLQtdC90LjQuSAi0JzQsNC70LjQvdC60Lgi!5e0!3m2!1sru!2spl!4v1684010439266!5m2!1sru!2spl" width="1000" height="600" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </address>
  </main>
  <footer>
    <!-- копирайт и ссылки на социальные сети -->
  </footer>
</body>
</html>

{% endblock %}